.singleVideoPageContainer{
    margin-top: 100px;
}
.videoInfo{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.videoArtist{
    font-size: 14px;
}
.videoBioTitle{
    margin-top: 10px;
}
.videoBio{
    font-size: 14px;
}
.videoTitlesingle{
    font-size: 30px;
    color: #DE9E48;
}
