.wholepageplaylist {
    margin-top: 100px;
}

.playlistImg {
    width: 350px;
    max-height: 200px;
    object-fit: cover;
}

.playlistCardContainer {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

#playlistName1 {
    margin: 2px;
    color: #DE9E48;
}

#playlistuserName {
    margin: 2px;
    font-size: 12px;
}

.containerforHomePage {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.playlistCardContainer:hover {
    display: flex;
    flex-direction: column;
    background-color: #DE9E48;
}
.playlistCardContainer:hover #playlistName1 {
    color: #000000;
}
