.Entirepage{
    margin-top: 100px;
}
.allvideos{
    width: fit-content;
}
.allvideosContainer{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
#playlistImagesform{
    display: none;
}
.create-playlist-button {
    background-color: #DE9E48;
    color:  #1a1918;
    border: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
  }
.createyourplaylist{
    color:#DE9E48;
    margin-bottom: 0;
}
.wordsforplaylist{
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 20px;
}
.upload-button:hover{
    color:#DE9E48;
}
#playlistName{
    color: black;
}
@media screen and (min-width: 1150px) and (max-width: 1519px) {
    .AllvideosMaincss{
      width: 30%;
      margin: 10px;
    }
    .VideoCard{
      width: 100%;
    }
    .VideoCard:hover{
      background-color: #DE9E48;
    }
    .videoCardContainer a:hover .videoStudio{
      text-decoration: none;
      color: black;
    }
    .videoCardContainer a:hover .videoTitle {
      text-decoration: none;
      color: black;
    }
    .videoCardContainer{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (min-width: 780px) and (max-width: 1149px) {
    .AllvideosMaincss{
      width: 40%;
      margin: 10px;
    }
    .VideoCard{
      width: 100%;
    }
    .VideoCard:hover{
      background-color: #DE9E48;
    }
    .videoCardContainer a:hover .videoStudio{
      text-decoration: none;
      color: black;
    }
    .videoCardContainer a:hover .videoTitle {
      text-decoration: none;
      color: black;
    }
    .videoCardContainer{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (max-width: 779px) {
    /* Styles for screens 779px and below */
    .AllvideosMaincss {
      width: 50%;
      margin: 10px;
    }

    .VideoCard {
      width: 100%;
    }
    .VideoCard:hover{
      background-color: #DE9E48;
    }
    .videoCardContainer a:hover .videoStudio{
      text-decoration: none;
      color: black;
    }
    .videoCardContainer a:hover .videoTitle {
      text-decoration: none;
      color: black;
    }

    .videoCardContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (min-width: 1520px){
    .AllvideosMaincss {
      width: 20%;
      margin: 10px;
    }

    .VideoCard {
      width: 100%;
    }
    .VideoCard:hover{
      background-color: #DE9E48;
    }
    .videoCardContainer a:hover .videoStudio{
      text-decoration: none;
      color: black;
    }
    .videoCardContainer a:hover .videoTitle {
      text-decoration: none;
      color: black;
    }

    .videoCardContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .videoCardContainer {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .videoCardContainer a {
    text-decoration: none;
  }
  .VideoCard {
    position: relative;
    width: 350px;
    margin: 10px;
  }

  .videoThumbNail {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
  }

  .videoThumbNail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .videoTitle {
    margin-top: 10px;
    font-weight: bold;
  }

  .videoStudio {
    margin-top: 5px;
    font-size: 12px;
  }
