.loginPageDiv{
margin-top: 100px;
display: flex;
}
.loginpagepic1{
    width: 700px;
}
.logininfostuff{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.demouserloginPage{
    background-color: #DE9E48;
    color:#1a1918;
    border: none;
}
.demouserloginPage:hover{
    background-color: #DE9E48;
    color: black;
    border: none;
}

