.SignUpmodal{
    color: #DE9E48
}
.signUpmodal{
    padding: 20px;
}
.signUpbtn >*{
    background-color: #DE9E48;
    color:white;
    border: none;
}
.signUpbtn >*:hover{
    background-color: #1a1918;
    color: #DE9E48;
}
