.videoCardContainer {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .videoCardContainer a {
    text-decoration: none;
  }
  .VideoCard {
    position: relative;
    width: 350px;
    margin: 10px;
  }

  .videoTitle {
    margin-top: 10px;
    font-weight: bold;
  }

  .videoStudio {
    margin-top: 5px;
    font-size: 12px;
  }
  @media screen and (min-width: 1150px){
    .Tiles{
      width: 30%;
      margin: 10px;
      gap: 20px;
    }
    .VideoCard{
      width: 100%;
    }
    .VideoCard:hover{
      background-color: #DE9E48;
    }
    .videoCardContainer a:hover .videoStudio{
      text-decoration: none;
      color: black;
    }
    .videoCardContainer a:hover .videoTitle {
      text-decoration: none;
      color: black;
    }
    .videoCardContainer{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (min-width: 886px) and (max-width: 1149px) {
    .Tiles{
      width: 40%;
      margin: 10px;
      gap: 15px;
    }
    .VideoCard{
      width: 100%;
    }
    .VideoCard:hover{
      background-color: #DE9E48;
    }
    .videoCardContainer a:hover .videoStudio{
      text-decoration: none;
      color: black;
    }
    .videoCardContainer a:hover .videoTitle {
      text-decoration: none;
      color: black;
    }
    .videoCardContainer{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (max-width: 885px) {
    /* Styles for screens 779px and below */
    .Tiles{
      width: 100%;
      gap: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .VideoCard {
      width: 100%;
    }
    .VideoCard:hover{
      background-color: #DE9E48;
    }
    .videoCardContainer a:hover .videoStudio{
      text-decoration: none;
      color: black;
    }
    .videoCardContainer a:hover .videoTitle {
      text-decoration: none;
      color: black;
    }

    .videoCardContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (min-width: 1700px){
    .Tiles{
      width: 20%;
      margin: 10px;
      gap: 30px;
    }

    .VideoCard {
      width: 80%;
    }
    .VideoCard:hover{
      background-color: #DE9E48;
    }
    .videoCardContainer a:hover .videoStudio{
      text-decoration: none;
      color: black;
    }
    .videoCardContainer a:hover .videoTitle {
      text-decoration: none;
      color: black;
    }

    .videoCardContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
