.videoCardManage {
    display: flex;
    flex-wrap: wrap;
}

.playlistthumbnail {
    width: 350px;
    height: 196px;
}

.playlistthumbnailimage {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.playlistCard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}

.ManageVideoLinks {
    text-decoration: none;
}

.UploadAVideo>* {
    background-color: #DE9E48;
    border: none;
    border-radius: 20px;
    padding: 15px;
}

.UploadAVideo>*:hover {
    background-color: #1a1918;
    color: #DE9E48;
}

.DeleteAndUpdate {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.deleteButton>*,
.editButton>* {
    background-color: transparent;
    border: none;
}

.PlaylistBtns {
    display: flex;
    justify-content: space-between;
}

.PlaylistBtns>*,
.DeletePlaylistbtn>*,
.UpdatePlaylistbtn>* {
    background-color: transparent;
    border: none;
}

.EntirePage {
    margin-top: 100px;
}

.ManageProfilePic {
    width: 100%;
    border-radius: 20px;
}

.flexmanagepage {
    display: flex;
    width: 100%;
    gap: 40px;
}

.updateuseProfilebtn>* {
    border: none;
    background-color: #1a1918;
    color: #DE9E48;
}
.updateuseProfilebtn>*:hover {
    border: none;
    background-color: #DE9E48;
    color:#1a1918;
}
.bioStuff{
    width: 70%;
}
.user-profile-pic{
width: 30%;
}
.TitletoPage{
    color: #DE9E48;
}
.fa-minus-circle {
    color: red;
  }

  .fa-pen-fancy {
    color: #DE9E48;
  }
.noVideosMessage{
    margin-top:20px ;
}
